* {
    font-family: "Lato", sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid silver;
    margin: 1em 0;
    padding: 0;
}

.myname {
    font-family: "Rock Salt", cursive;
    color: blue;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    margin: auto -15px auto -15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.67%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.67%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.67%;
}

.col-12 {
    width: 100%;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
}

.box1 {
    display: flex;
}

.name {
    text-align: right;
}

.text-up-case {
    text-transform: uppercase;
}

.fontwt {
    font-weight: 300;
}

.fontsz {
    font-size: small;
}

.font-center {
    text-align: center;
}

img {
    max-width: 100%;
}

a {
    min-height: 48px;
    min-width: 48px;
}

.pics {
    display: flex;
}

@media screen and (max-width:600px) {
    .tocenter {
        width: 100vw;
        padding: 5px;
    }

    .pics {
        display: flex;
        flex-wrap: wrap;
    }

    img {
        margin: auto;
    }

    .pic1 {
        width: 100vw;
    }

    .pic2 {
        width: 100vw;
    }

    .pic3 {
        width: 100vw;
    }

}

@media screen and (min-width:601px) {
    .pic1 {
        width: 33.33%;
    }

    .pic2 {
        width: 33.33%;
    }

    .pic3 {
        width: 33.33%;
    }

    .container {
        width: 60em;
    }

}

ul,
li {
    display: inline-block;
}

[class*="zocial-"]:before {
    color: black;
    display: inline-block;
    font-family: "zocial", sans-serif;
    text-shadow: 3px 3px 3px #aaa;
    margin: 1em;
}

figcaption {
    font-style: italic;
    text-align: center;
    font-size: small;
}

p {
    align-content: flex-end;
}
